body, html 
{
    margin: 0%;
    background-color: #2a2928;
    color: #ffffff;
    font-family: Verdana, Arial, sans-serif;
    padding: 0;
}

header
{
    background-color: #313030;
    height: 150px;
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
    border-bottom: 2px solid #fff;
}

h1
{   
    padding-top: 45px;
    font-size: 3em;
    color: #fff;
}

h2
{
    margin: 0   ;
    padding-top: 10px;
    padding-left: 3em;
    padding-right: 2em;
    text-align: center;
}

p
{
    padding-left: 3em;
    padding-right: 2em;
}

div
{
    padding-left: 3em;
    padding-right: 2em;
    margin: 0;
}

ul
{
    padding-left: 3em;
    padding-right: 2em;
    margin: 0;
}

nav
{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    font-size: 1.5em;
    float: left;
    width: 200px;
    background-color: #1d1d1d;
    height: 72%;
    border-right: 2px solid #3e3d3d;
}

nav a:link {color: #ffffff;}
nav a:visited {color: #545454;}
nav a:hover {color: #ffa3a3;}

footer a:link {color: #ffffff;}
footer a:visited {color: #545454;}
footer a:hover {color: #ffa3a3;}

nav a
{
    text-decoration: none;
}

nav ul 
{ 
    margin-left: 0;
    padding: 10px;
    padding-left: 0;
    list-style-type: none; 
}

footer
{
    border-top: 2px solid #ffffff;
    background-color: #313030;
    color: #fff;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    position:fixed;bottom:0;left:0;right:0;height:30px;
}

.floatleft
{
    padding-right: 20px;
    padding-bottom: 20px;
}

main
{
    padding-bottom: 2em;
    padding-left: 15%;
    padding-right: 15%;
    display: block;
    margin-left: 200px;
    background-color: #212120;
    height: 72%;
}

#wrapper
{
    
    margin:0 auto;
    padding:0;
    background-color: #231814;
}